/*
*************************************
        | COLORS
*************************************
*/
:root {
  --blue-navy: #05205D;
  --blue-light: #3155A7;
  --brown-leather: #AB987A;
  --orange-coral: #FF833D;
  --white-egg: #F5F5F5;
}
/*
*************************************
        | HEADER
*************************************
*/
.header-area .main-menu,
.header-area .main-menu, .dropdown-menu {
  background: var(--orange-coral);
  box-shadow: 0 3px 16 0 rgba(0, 0, 0, .1);
}
.header-area .main-menu .navbar {
  height: 70px;
}
.header-area .main-menu .navbar .nav-link {
  font-size: 14px;
  color: var(--white-egg);
  padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover {
  font-weight: 600;
}